export(data.set)
export(detect_class)
export(eml_config)
export(eml_coverage)
export(eml_figshare)
export(eml_knb)
export(eml_publish)
export(eml_read)
export(eml_validate)
export(eml_write)
export(metadata_wizard)
exportMethods(attributeList)
exportMethods(citationInfo)
exportMethods(col.defs)
exportMethods(col_classes)
exportMethods(contact)
exportMethods(dataTable)
exportMethods(extract)
exportMethods(metadata)
exportMethods(unit.defs)
import(XML)
import(utils)
