export(data.set)
export(detect_class)
export(eml_config)
export(eml_coverage)
export(eml_figshare)
export(eml_knb)
export(eml_publish)
export(eml_read)
export(eml_validate)
export(eml_write)
export(metadata_wizard)
export(read.eml)
export(write.eml)
exportMethods(attributeList)
exportMethods(citationInfo)
exportMethods(col.defs)
exportMethods(col_classes)
exportMethods(contact)
exportMethods(creator)
exportMethods(dataTable)
exportMethods(extract)
exportMethods(id)
exportMethods(metadata)
exportMethods(unit.defs)
exportMethods(version)
import(XML)
import(utils)
import(yaml)
